html{
    scroll-behavior: smooth;
    overflow-x: hidden; 
}
*,*::before, *::after{
    box-sizing: inherit;
}

body{
	position: absolute;
	overflow-x: hidden; 
	width: 100%; 
	margin: 0;
	padding: 0;
}

.main{
	padding-top:100px;
}

.posLeft{
	margin-left:-66%;
}

.posCenter{
	margin-left:33%;
}

.menu-list{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0;
    padding: 50px 0;
	background-color: #829985;
}

.menu-item{
	padding: 0 30px 0 15px;
    font-size: 20px;
    color: #000000;
   list-style-type: none;
}

.m-link{
	text-align: center;
    color: #000000;
    text-decoration: none;
    display: block;
}

.wrapper{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
}

.column1{
    padding-top: 25px;
    width: 20%;
}

.preconteiner{
	margin-left: auto;
	margin-right: auto;
}

.myfoto{
	width: 140%;
}

.name1{
	font-family: 'Franklin Gothic Medium';
	text-align: center;
	margin-bottom: 1px;
	color:#000000; 
	font-size: 22px;
}

.name2{
	font-family: 'Forte';
	margin-top: -25px;
	margin-bottom: -30px;
	text-align: left;
	color:#000000; 
	font-size: 30px;
}

.hr-shelf{
	border: none;
	border-bottom: 1px solid #1f1209;
	width: 40%;
	text-align: center;
}

.profesion{
	margin:10px 0 15px 0;
	text-align: center;
	font-size: 15px;
}

.menu-links{
	color:  #884900;
	font-size: 18px;
	text-align: center;
	padding-top: 20px;
}

.cont{
	font-size: 18px;
}

.contact{
	list-style-type: none;
	margin: 10px 20px 0 0;
}

.contact-logo{
	margin: 5px 10px 0 0;
	text-decoration: none;
	
}

.text-me{
	position: relative;
	left: 13%;
	width: 73%;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 18px;
    text-align: center;
}

.column2{
	width: 40%;
}

.about-me{
	margin-top: 30px;
}

.educat1{
	text-align: center;
	list-style-type: none;
    padding-bottom: 10px;
    font-size: 18px;
}

.work{
	margin-top: -20px;
}

.work-about{
	list-style-type: none;
	padding-top: 10px;
	text-align: center;
	font-size: 18px;
}

.text-skills{
    list-style-type: none;
    font-size: 18px;
    padding-bottom: 5px;
}

.first-project{
	text-align: center;
	margin-bottom: -15px;
	font-size: 18px;
}

.codes{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.code-example{
	list-style-type: none;
}

.code-example::before {
    content: "⮛⮛⮛"; 
    color:#D6D2C7; 
	font-size: 20px;
}

.footer{
    height: 100%;
	width: 100%;
	background-color: #829985;
}

.fotter-3row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social_network{
    margin-top: 5px;
}

.img_fot-list{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    margin-left: -50px;
}

.img-fotter{
    padding-right: 40px;
}

.rss{
	margin-top: 45px;
	margin-left: 120px;
}

.text-2023{
	font-size: 30px;
	margin-top: 55px;
	margin-left: 120px;
}